h1{
    color:red;
}

h3{
    color:green;
}
#p1{
    text-align:justify;
    text-indent: 20pt;
    color: blue;

}
.p2{
    text-align:justify;
    text-indent: 10pt;
    color:palevioletred;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}